body {
    background-color: black;
    color: white;
    ruby-align: center;
}

.bg {
    background-size: cover;
    background-position: 50% 50%;
}

.bg-heroimage {
    background-attachment: fixed;
    background-color: transparent;
    min-height: 100vh;
}

.bg > .bg-content {
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

.bg-title > .bg-content {
    margin-bottom: 1em;
}

.bg-content {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

h1.title {
  font-weight: bold;
}
/*
.nav-main-header {
    max-width: 10em; 
}
*/
.nav-main-header .nav-link {
    border-radius: 0;
}

.nav-main-header a:link,.nav-main-header a:active, .nav-main-header a:visited{
    color: #fff;
    border-bottom: transparent 0.2em solid;
}

.nav-main-header a:hover, .nav-main-header a:focus {
    color: #ccc;
    border-bottom: #ccc 0.2em solid;
}

.section-content.bg-dark-transparent {
    background: rgba(0, 0, 0, 0.5);
}

.section-title-image {
    height: 8em;
    width: auto;
    background-size: cover;
    background-position: 50% 50%;
}

.text-emphasis {
    font-weight: bold;
}

.text-tips {
    text-decoration: underline;
    cursor: help;
}

.card-chara {
    box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 0.625em;
}

#header .header-content {
    max-width: 80%;
}

#introduction, #secStaff .section-content {
    width: 85%;
}

.story-text {
    text-shadow: rgba(0, 0, 0, 0.75) 0.063em 0.063em 0.625em, rgba(0, 0, 0, 0.75) -0.063em 0.063em 0.625em, rgba(0, 0, 0, 0.75) 0.063em -0.063em 0.625em, rgba(0, 0, 0, 0.75) -0.063em -0.063em 0.625em;
}

.intro-header-list .list-group-item, .chara .list-group-item {
    background-color: rgba(0, 0, 0, 0.5);
}

#epList .list-group-item {
    color: black;
}

.chara .list-group-item {
    padding: 0.5em 0.25em;
}

/* Modal */
.modal-dialog {
    min-width: 100%;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    /*max-height: calc(100% - 120px); */
    overflow-y: scroll;
}

.modal .close {
    color: #fff;
}

/*PC標示*/

.dialog-pc.dialog-pc1 {
    color: #80adff;
}

.dialog-pc.dialog-pc2 {
    color: #f38787;
}

.dialog-pc.dialog-pc3 {
    color: #88c69e;
}

.dialog-pc.dialog-pc4 {
    color: #809980;
}

.dialog-pc.dialog-pc5 {
    color: #c48492;
}

.game-pc.dialog-pc1 {
    color: #005aff;
}

.game-pc.dialog-pc2 {
    color: #e60f0f;
}

.game-pc.dialog-pc3 {
    color: #118d3c;
}

.game-pc.dialog-pc4 {
    color: #003300;
}

.game-pc.dialog-pc5 {
    color: #880924;
}

.story-game-system {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

@media(min-width: 768px) {
    .modal-dialog {
        min-width: 60%;
    }

    #introduction, #secStaff .section-content {
        width: 60%;
    }

    #header .header-content {
        max-width: 50%;
    }
}